*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Roboto, Arial, sans-serif;
  background-color: var(--color-bg);
  padding: 40px 20px;
  color: var(--color-text);
}
h2 {
  color: var(--color-primary);
}
p {
  padding: 2px;
}
ul {
  padding: 10px;
  justify-content: start;
  gap: 10px;
}

.home-page {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: start;
}

/* Hero */
.hero {
  min-height: 30%;
  max-width: 100%;
  padding: 5%;
  justify-content: center;
}
.hero-img {
  min-height: 50px;
  max-width: 100%;
}
.hero-title {
  size: 40px;
  padding: 5px;
  color: var(--color-primary);
}
.hero-desc {
  color: var(--color-text);
}

/* Pain Point */
.single-column-challenges {
  padding: 10px;
  min-height: 25%;
  gap: 5px;
}

/* Project Grid */
.project-card-grid {
  display: flex;
  flex-wrap: wrap;
  flex-drection: column;
  justify-content: space-between;
  gap: 20px 10px;
  min-height: 25%;
}
.project-card {
  flex: 1 1 300px;
  padding: 20px;
}
.project-card-image {
  min-height: 20px;
}
.project-card-title {
  color: var(--color-primary);
  align-content: center;
  padding: 10px;
}
.project-card-summary {
  color: var(--color-text-primary);
  padding: 5px;
}

@media (max-width: 400px) {
  body {
    padding: 24px 16px;
  }
}
