* {
  font-family: "Segoe UI", Robot, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
}
body {
  width: 100%;
  min-height: 100vh;
  padding: 40px 20px;
  color: var(--color-text);
}
h2 {
  color: var(--color-primary);
}
/*
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  aligh-items: center;
  padding: 40px 20px;
}
*/
header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  color: gray;
}

.navbar-link {
  color: var(--color-primary); 
}

footer {
  color: gray;
}

.project-card-grid {
  display: flex;
  flex-wrap: wrap;
  /*flex-drection: column;
  justify-content: space-between;
  padding: 40px 20px;
  */
  gap: 20px;
}

.project-card {
  flex: 1 1 300px;
}
.project-card-title {
  color: var(--color-primary); 
}

@media (max-width: 400px) {
  body {
    padding: 24px 16px;
  }
}
