* {
  font-family: "Segoe UI", Robot, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
}
body {
  width: 100%;
  min-height: 100vh;
  padding: 40px 20px;
  color: var(--color-text);
}
h2 {
  color: var(--color-primary);
}
p {
  padding: 2px;
}
ul {
  padding: 10px;
  justify-content: start;
  gap: 10px;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}
.logo {
  padding: 20px;
  size: 60px;
  align-content: start;
  color: var(--color-primary);
  border: 1px;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  size: 24px;
  border: 5px;
  border-color: var(--color-tertiary);
  gap: 20px;
  padding: 5px;
}
.navbar-link {
  color: var(--color-primary);
  padding: 20px;
  size: 24px;
  border: 3px;
  border-color: var(--color-text-muted);
}

.home-page {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: start;
}
.home-hero {
  min-height: 50%;
  padding: 5%;
}
.home-hero-img {
  min-height: 200px;
}
.home-hero-title {
  padding: 5px;
  align-content: center;
}
.home-hero-desc {
  color: var(--color-text-muted);
}

.home-pain-point {
  padding: 5%;
  min-height: 25%;
  gap: 5px;
}

.project-card-grid {
  display: flex;
  flex-wrap: wrap;
  flex-drection: column;
  justify-content: space-between;
  gap: 20px 10px;
  min-height: 25%;
}
.project-card {
  flex: 1 1 300px;
  padding: 20px;
}
.project-card-image {
  min-height: 15%;
}
.project-card-title {
  color: var(--color-primary);
  align-content: center;
  padding: 5px;
}
.project-card-summary {
  color: var(--color-text-primary);
  padding: 5px;
}

footer {
  align-content: end;
  display:flex;
  justify-content: space-evenly;
  margin: 20px;
  border: 1px;
  border-color: var(--color-tertiary);
  color: var(--color-text-muted)
}

@media (max-width: 400px) {
  body {
    padding: 24px 16px;
  }
  .navbar {
    gap: 10px;
  }
  footer {
    margin: 10px;
  }
}
