/* Header */
header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}
.logo {
  align-content: start;
  padding: 20px;
  color: var(--color-primary);
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  size: 24px;
  gap: 20px;
  padding: 5px;
}
.navbar-link {
  color: var(--color-primary);
  padding: 20px;
  size: 24px;
}

/* Footer */
footer {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  align-content: end;
}
footer h5, a {
  align-content: center;
  size: 20px;
  padding: 5px;
  color: var(--color-text-muted);
}

@media (max-width: 400px) {
  .navbar {
    gap: 10px;
  }
}
