/* https://www.figma.com/color-wheel/ */
:root {
  --color-bg: #F2F2F7;
  --color-text: #000000;
  --color-text-muted: #8E8E93;
  --color-yellow-highlight: #CFFF04;
  
  --color-primary: #2D7AB8;
  --color-secondary: #246194;
  --color-tertiary: #4291D1;
  --color-complementary: #B86C2D;

  --color-border: #143652;
}
